api-weather-portal-v1/src/main/mule/weather-adapter-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="weather-adapter-api-config" api="weather-adapter-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="weather-adapter-api-main">
        <http:listener path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-adapter-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-adapter-api-console">
        <http:listener path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-adapter-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\citiesbycountry:weather-adapter-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="4dfd1c96-28c5-4bed-8cd3-82a9daeff6cf" message="Portal call to fetch cities starts"/>
		<http:request method="GET" doc:name="call to globalweather api" doc:id="96fc635a-7f51-4521-a114-1570d4bd4d54" path="/getcitiesbycountry" config-ref="http-globalweather-request"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  NewDataSet: "Table>\n    Country>Australia/Country>\n    City>Archerfield Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Amberley Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Alice Springs Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Brisbane Airport M. O/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Coolangatta Airport Aws/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Cairns Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Charleville Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Gladstone/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Longreach Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Mount Isa Amo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Mackay Mo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Oakey Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Proserpine Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Rockhampton Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Broome Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Townsville Amo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Weipa City/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Gove Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Tennant Creek Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Yulara Aws/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Albury Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Devonport East/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Goldstream Aws/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>East Sale Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Hobart Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Launceston Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Laverton Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Moorabbin Airport Aws/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Mount Gambier Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Mildura Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Melbourne Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Macquarie Island/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Wynyard West/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Adelaide Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Albany Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Broken Hill Patton Street/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Ceduna Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Derby/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Darwin Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Bullsbrook Pearce Amo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Edinburgh M. O./City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Forrest Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Geraldton Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Kalgoorlie Boulder Amo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Kununurra Kununurra Aws/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Leigh Creek Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Learmonth Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Meekatharra Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Port Hedland Pardoo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Parafield Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Belmont Perth Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Katherine Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Woomera Aerodrome/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Bankstown Airport Aws/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Canberra/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Coffs Harbour Mo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Cooma/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Camden Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Dubbo/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Norfolk Island Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Nowra Ran Air Station/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Richmond Aus-Afb/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Sydney Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Tamworth Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Wagga Airport/City>\n  /Table>\n  Table>\n    Country>Australia/Country>\n    City>Williamtown Aerodrome/City>\n  /Table>"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Log end" doc:id="4ad5c98f-9e68-4f7e-99cf-ae2898ef2748" message="Portal call to fetch cities end"/>
    </flow>
    <flow name="get:\weatherall:weather-adapter-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="727f3f05-0ebf-4fb9-aacf-6a175108645c" message="Portal call to fetch weather starts"/>
		<http:request method="GET" doc:name="call to globalweather api to get all weather" doc:id="f63c7901-4ebe-41fb-86a2-b3b34fb10e0a" path="/getweather" config-ref="http-globalweather-request"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Location: "Melbourne",
  Time: "11:00 AM",
  Wind: "15 km per hour",
  Visibility: "10 km",
  SkyConditions: "sunny",
  Temperature: 18,
  DewPoint: 2,
  RelativeHumidity: 35,
  Status: "Normal"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Log start" doc:id="6a853c39-0eaa-4256-b2d9-47b1182ed9ab" message="Portal call to fetch weather end"/>
    </flow>
</mule>
